:root {
	--bs-body-bg: var(--bs-light);
	--bs-primary: var(--bs-dark);
}

input,
select,
label,
.list-group {
	--bs-body-bg: #fff;
}

.btn.filled {
	--bs-btn-bg: #fff;
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
	border-color: hsl(216, 0%, 76%);
	box-shadow: 0 0 0 0.25rem hsla(216, 0%, 52%, 0.25);
}

.form-check-input:checked {
	background-color: var(--bs-dark);
	border-color: var(--bs-dark);
}
